---
layout: home
title: Home
sections:
- title: Rajwada Palace, Indore, India
  url: https://www.deviantart.com/shashank11/art/Rajwada-Palace-Indore-Vector-Graphic-India-808343431
- title: Internet Of Things poster
  url: https://www.deviantart.com/shashank11/art/Internet-Of-Things-Technical-Poster-789164653
- title: Hackathon theme poster
  url: https://www.deviantart.com/shashank11/art/Hackathon-Theme-Poster-Technical-824245521
- title: Roronoa Zoro | One Piece | Fan art
  url: https://www.deviantart.com/shashank11/art/Roronoa-Zoro-One-Piece-Minimalist-Wallpaper-746809241
- title: Luffy | One Piece | Fan art
  url: https://www.deviantart.com/shashank11/art/Luffy-4th-Gear-SnakeMan-Minimalist-Wallpaper-744731332
- title: Luffy 4th Gear | One Piece
  url: https://www.deviantart.com/shashank11/art/Minimalist-wallpaper-Monkey-D-Luffy-4th-Gear-667470894
---

<!--<p class="message">-->
	<!--Hey there! Right now this website is in progress ! Do come back for more info-->
<!--</p>-->

<div class="posts">
	{% for post in paginator.posts %}
	<article class="post">
		<h1 class="post-title">
			<a href="{{ site.baseurl }}{{ post.url }}">
				{{ post.title }}
			</a>
		</h1>

		<time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

		{{ post.content | truncatewords: 60 }}
		<a href="{{ site.baseurl }}{{ post.url }}">
			Keep reading
		</a>
	</article>
	{% endfor %}
</div>

<div class="pagination">
	{% if paginator.next_page %}
	<a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
	{% else %}
	<span class="pagination-item older">Older</span>
	{% endif %}
	{% if paginator.previous_page %}
	<a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
	{% else %}
	<span class="pagination-item newer">Newer</span>
	{% endif %}
</div>