@font-face {
    font-family: Gilroy;
    src: url(/public/fonts/Gilroy.woff2);
}

@font-face {
    font-family: Gilroy;
    src: url(/public/fonts/Gilroy-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: Gilroy;
    src: url(/public/fonts/Gilroy-Semibold.woff2);
    font-weight: 600;
}