<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

<a href="/">
	<img class="ss-logo" id="ss-logo" src="{{ site.baseurl }}/img/shashank.png" style="position:fixed;"/>
</a>
<svg class="loader" width="100px" height="100px" viewBox="0 0 100 100" style="position:fixed;">
	<circle id="loader" class="anicircle" cx="50" cy="50" r="40"/>
</svg>
<!-- Wrap is the content to shift when toggling the sidebar. We wrap the
		 content to avoid any CSS collisions with our real content. -->
<div class="wrap">

	<div class="post-container content" style="margin-top: 100px">
		{{ content }}
	</div>
</div>

<div class="wrap">
	{% include footer.html %}
</div>
</body>
</html>
