<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
<!--<div class="design-container" id="design-container"></div>-->
<div class="main-content" id="main-content">
	<img class="ss-logo" id="ss-logo" src="{{ site.baseurl }}/img/shashank.png"/>
	<div class="header-writing" id="header-writing">writings ⟶</div>
	<div class="header-design" id="header-design">⟵ designs</div>
	<div class="header-hello" id="header-hello">👋</div>
	<div class="header-timeline" id="header-timeline">timeline</div>
	<div class="header-sideways" id="header-sideways">
		<span><a class="link-style" href="https://github.com/shashank-sharma" target="_blank">GITHUB</a></span>
		<span><a class="link-style" href="{{ site.baseurl }}/archive/shashank-sharma.pdf" target="_blank">RESUME</a></span>
	</div>
	<div class="home-header" id="home-header">
		<div class="home-header-image" align="center">
			<div class="home-header-place">
				<div class="loading-page" id="loading-page"></div>
				<img class="home-header-portal" id="home-header-portal" src="{{ site.baseurl }}/public/svg/portal.svg"/>
				<div class="home-header-vector-background" id="home-header-vector-background">
					<img class="home-header-vector" src="{{ site.baseurl }}/img/header-background.png"/>
					<img class="home-header-vector" src="{{ site.baseurl }}/img/header-moon.png"/>
				</div>
				<div class="home-header-vector-body" id="home-header-vector-body">
					<div class="pointer-anime" id="pointer-anime"></div>
					<div class="pointer-moon" id="pointer-moon"></div>
					<img class="home-header-vector floating" src="{{ site.baseurl }}/img/header-adventure.png"/>
					<img class="home-header-vector floating-less" src="{{ site.baseurl }}/img/header-anime.png"/>
				</div>
			</div>
		</div>
		<div class="home-header-text" id="home-header-text">
			{{ site.description }}
		</div>
	</div>
	<div class="home-writing container" id="home-writing">
		{{ content }}
	</div>
	<div class="home-design container" id="home-design">
		{% for section in page.sections %}
		<p><a href="{{ section.url }}" class="home-design-heading" target="_blank">
			{{ section.title | textilize }}
		</a></p>
		{% endfor %}
	</div>
	<div class="home-hello custom-container" id="home-hello">
		<p>Want to discuss something ? Feedback or any random thing ... Mail it right away</p>
		<p>shashank.sharma98@gmail.com</p>
		{% include social-media-links.html %}
	</div>
</div>
<div class="home-timeline" id="home-timeline">
	<svg class="timeline-loader" width="100px" height="100px" viewBox="0 0 100 100">
		<circle id="loader" class="anicircle" cx="50" cy="50" r="40"/>
	</svg>
	<div class="timeline-notice" id="timeline-notice">This is still in experimentation !</div>
	<div class="timeline-play-instruction" id="timeline-play-instruction">
		<span>This story is about Shashank Sharma, where you will see what exactly he did in given timeline. Let's cover </span>
		<span class="timeline-instruction" id="internship-instruction">Internships</span>
		<span>, </span>
		<span class="timeline-instruction" id="volunteer-instruction">Volunteering</span>
		<span>, </span>
		<span class="timeline-instruction" id="certification-instruction">Certifications</span>
		<span>, </span>
		<span class="timeline-instruction" id="hackathon-instruction">Hackathons</span>
		<span>, </span>
		<span class="timeline-instruction" id="project-instruction">Projects</span>
		<span> in this timeline. Click on them to add/remove from story.</span><br/>
		<p class="timeline-play-start" id="timeline-instruction-button">Start ⟶</p>
	</div>
	<i class="fa fa-2x fa-window-close home-timeline-close" id="home-timeline-close" style="color: black"></i>
	<div class="indicator" id="timeline-indicator">
		<div class="vis-item vis-range internship-indicator indicator-card" id="internship-indicator">Internship</div>
		<br/>
		<div class="vis-item vis-range volunteer-indicator indicator-card" id="volunteer-indicator">Volunteer</div>
		<br/>
		<div class="vis-item vis-range certification-indicator indicator-card" id="certification-indicator">Certification
		</div>
		<br/>
		<div class="vis-item vis-range hackathon-indicator indicator-card" id="hackathon-indicator">Hackathon</div>
		<br/>
		<div class="vis-item vis-range project-indicator indicator-card" id="project-indicator">Project</div>
	</div>
	<div class="profile-timeline-left"></div>
	<div class="profile-timeline-right"></div>
	<div class="timeline-presentation" id="timeline-presentation">
		<div class="tp-text-container">
			<h1 class="timeline-presentation-title" id="timeline-presentation-title"></h1>
			<p class="timeline-presentation-duration" id="timeline-presentation-duration"></p>
			<p class="timeline-presentation-text" id="timeline-presentation-text"></p>
		</div>
		<div style="vertical-align: top;display: inline-block;">
			<div class="timeline-presentation-image" id="timeline-presentation-image-container">
				<img class="timeline-image" id="timeline-presentation-image" src="" alt=""/>
				<p style="font-size: 0.8rem;" id="timeline-presentation-caption"></p>
			</div>
		</div>
	</div>
	<div class="timeline-visualization" id="visualization"></div>
	<div class="timeline-indicator" id="timeline-indicator-button">
		<i class="fa fa-tv timeline-indicator-button" id="timeline-indicator-icon" style="color: white"></i>
	</div>
	<div class="timeline-forward-indicator" id="timeline-forward-button">
		<i class="fa fa-forward timeline-indicator-button" style="color: white"></i>
	</div>
</div>
<iframe class="terminal-plugin" style="visibility:hidden;" title="Terminal plugin"></iframe>
</body>
</html>
