<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

<svg class="loader" width="100px" height="100px" viewBox="0 0 100 100">
	<circle id="loader" class="anicircle" cx="50" cy="50" r="40"/>
</svg>
<img class="ss-logo" id="ss-logo" src="{{ site.baseurl }}/img/shashank.png"/>

<!--<div class="design-container" id="design-container"></div>-->
<div class="main-content" id="main-content">
	<div class="header-writing" id="header-writing">writings ⟶</div>
	<div class="header-design" id="header-design">⟵ designs</div>
	<div class="header-hello" id="header-hello">👋</div>
	<div class="home-header" id="home-header">
		<div class="home-header-image" align="center">
			<div class="home-header-place">
				<div class="loading-page" id="loading-page"></div>
				<div class="pointer-anime" id="pointer-anime"></div>
				<div class="pointer-moon" id="pointer-moon"></div>
				<img class="home-header-portal" id="home-header-portal" src="{{ site.baseurl }}/public/svg/portal.svg"/>
				<img class="home-header-vector" src="{{ site.baseurl }}/img/header-background.png"/>
				<img class="home-header-vector floating" src="{{ site.baseurl }}/img/header-adventure.png"/>
				<img class="home-header-vector floating-less" src="{{ site.baseurl }}/img/header-anime.png"/>
				<img class="home-header-vector" src="{{ site.baseurl }}/img/header-moon.png"/>
			</div>
		</div>
		<div class="home-header-text" id="home-header-text">
				{{ site.description }}
		</div>
	</div>
	<div class="home-writing container" id="home-writing">
		{{ content }}
	</div>
	<div class="home-design container" id="home-design">
		{% for section in page.sections %}
		<p><a href="{{ section.url }}" class="home-design-heading" target="_blank">
			{{ section.title | textilize }}
		</a></p>
		{% endfor %}
	</div>
	<div class="home-hello custom-container" id="home-hello">
		<p>Want to discuss something ? Feedback or any random thing ... Mail it right away</p>
		<p>shashank.sharma98@gmail.com</p>
		{% include social-media-links.html %}
	</div>
</div>
<iframe class="terminal-plugin" style="visibility:hidden;" title="Terminal plugin"></iframe>
</body>
</html>
