<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
	<script src="{{ base.url | prepend: site.url }}/assets/js/terminal.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css"/>
	<link rel="stylesheet" href="{{ base.url | prepend: site.url }}/assets/css/terminal.css"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
</head>
<body>
<div class="console">
	<div class="status-bar">
		<i class="material-icons login-status" id="login-status">sync_problem</i>
		<i class="material-icons backend-status" id="backend-status">cloud_download</i>
	</div>
	<div id="term"></div>
	<div class="flicker"></div>
	<div class="scanlines"></div>
</div>
</body>
</html>