<!DOCTYPE html>
<html lang="en-us">

<link rel="stylesheet" href="{{ base.url | prepend: site.url }}/public/css/fonts.css"/>
<link rel="stylesheet" href="{{ base.url | prepend: site.url }}/assets/css/timeline.css"/>
<script src="{{ base.url | prepend: site.url }}/assets/js/timeline.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<body>
<div class="indicator">
	<div class="vis-item vis-range internship indicator-card" id="internship-indicator">Internship</div><br/>
	<div class="vis-item vis-range volunteer indicator-card" id="volunteer-indicator">Volunteer</div><br/>
	<div class="vis-item vis-range certification indicator-card" id="certification-indicator">Certification</div><br/>
	<div class="vis-item vis-range hackathon indicator-card" id="hackathon-indicator">Hackathon</div>
</div>

<div id="visualization"></div>

<!--<input id='zoomLevel' type="number" oninput="getZoomLevel()" />-->
</body>
</html>
